*, *:before, *:after {
    box-sizing: border-box;
    outline: none;
}
html {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-smooth: auto;
    font-weight: 300;
    line-height: 1.5;
    color: black;
    background-color: #252424;
}
body {
    padding-top: 50px;
    font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Source Code Pro', monospace;
}
h2 {
    margin: 5px 0;
    color: white;
}
p {
    margin: 200px 0;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 0;
    background-color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 9998;
}
.logo {
    position: relative;
    display: block;
    color: white;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
}
.logo i {
    margin-right: 10px;
    color:white;
}
.nav-menu {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}
.navigation {
    position: fixed;
    top: 0;
    left: -100vw;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    transition: 0.25s linear;
    z-index: 9998;
}
.navigation.is-open {
    left: 0;
}
.navigation ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.navigation ul li {
    position: relative;
    height: 25vh;
    border-bottom: 1px solid rgba(68, 68, 68, 0.1);
}
.navigation a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    padding: 20px;
    color:rgb(232, 133, 20);
    font-family: 'Source Code Pro', monospace;
    font-size: 32px;
    text-decoration: none;
}
.navigation a:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #cc9b33;
    transition: 0.25s;
    z-index: -1;
}
.navigation a:hover {
    color: #ffffff;
}
.navigation a:hover:before {
    width: 100%;
}
.hamburger {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    margin-left: auto;
    padding: 0;
    border: none;
    background-color: rgba(255, 255, 255, 0.0);
    cursor: pointer;
    z-index: 9999;
}
.hamburger.is-open span {
    background-color: #ffffff;
    transition: 0.25s transform linear;
}
.hamburger.is-open span:first-child {
    transform: translateY(2px) rotate(45deg);
    animation: hamburger3 0.25s linear;
}
@keyframes hamburger3 {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(2px) rotate(45deg);
    }
}
.hamburger.is-open span:nth-child(2) {
    width: 0;
}
.hamburger.is-open span:last-child {
    transform: translateY(-2px) rotate(-45deg);
    animation: hamburger4 0.25s linear;
}
@keyframes hamburger4 {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-2px) rotate(-45deg);
    }
}
.hamburger span {
    position: relative;
    display: block;
    width: 30px;
    height: 2px;
    background-color: white;
    border-radius: 10px;
    transform-origin: center center;
    transition: 0.25s transform linear;
}
.hamburger span:first-child {
    transform: translateY(-5px) rotate(0deg);
    animation: hamburger1 0.25s linear;
}
@keyframes hamburger1 {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-5px) rotate(0deg);
    }
}
.hamburger span:last-child {
    transform: translateY(5px) rotate(0deg);
    animation: hamburger2 0.25s linear;
}
@keyframes hamburger2 {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(5px) rotate(0deg);
    }
}
section {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0;
}
section:nth-of-type(1) {
    background-color: #CC102D;
    animation: backgrounder 30s linear infinite;
}
section:nth-of-type(2) {
    background-color: #E88514;
    animation: backgrounder 30s linear infinite;
}
section:nth-of-type(3) {
    background-color: #FFFF28;
    animation: backgrounder 30s linear infinite;
}
section:nth-of-type(4) {
    background-color:  #7DC62C;
    animation: backgrounder 30s linear infinite;
}
section:nth-of-type(5) {
    background-color: #71C0DE;
    animation: backgrounder 30s linear infinite;
}
section:nth-of-type(6) {
    background-color: #634C8A;
    animation: backgrounder 30s linear infinite;
}
section .section-heading {
    position: sticky;
    top: 60px;
    width: 100%;
    background-color: rgba(245, 245, 245, 0.3);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    z-index: 9996;
}
footer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 200px 0;
    background-color: black;
    color: white;
}
.grid-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}
@media (min-width: 48rem) {
    .grid-container {
        padding: 0 20px;
    }
}
.grid-container.full {
    max-width: 100%;
    padding: 0 10px;
}
@media (min-width: 48rem) {
    .grid-container.full {
        padding: 0 20px;
    }
}
.grid-container .grid-x {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
@media (min-width: 48rem) {
    .grid-container .grid-x {
        flex-direction: row;
        flex-wrap: wrap;
    }
}
.grid-container .grid-x.align-left {
    justify-content: flex-start;
}
.grid-container .grid-x.align-right {
    justify-content: flex-end;
}
.grid-container .grid-x.align-justify {
    justify-content: space-between;
}
.grid-container .grid-x.align-top {
    align-items: flex-start;
}
.grid-container .grid-x.align-bottom {
    align-items: flex-end;
}
.grid-container .grid-x.align-middle {
    align-items: center;
}
.grid-container .grid-x.align-center {
    align-items: center;
    justify-content: center;
}
.grid-container .grid-x.grid-margin-x .cell {
    margin-left: 10px;
    margin-right: 10px;
}
.grid-container .grid-x.grid-padding-x .cell {
    padding-left: 10px;
    padding-right: 10px;
}
.grid-container .grid-x.grid-margin-y .cell {
    margin-top: 10px;
    margin-bottom: 10px;
}
.grid-container .grid-x.grid-padding-y .cell {
    padding-top: 10px;
    padding-bottom: 10px;
}
.cell {
    display: block;
    width: 100%;
}
@media (min-width: 20rem) {
    .cell.small-1 {
        width: 8.3333%;
    }
}
@media (min-width: 20rem) {
    .cell.small-2 {
        width: 16.6666%;
    }
}
@media (min-width: 20rem) {
    .cell.small-3 {
        width: 25%;
    }
}
@media (min-width: 20rem) {
    .cell.small-4 {
        width: 33.3333%;
    }
}
@media (min-width: 20rem) {
    .cell.small-5 {
        width: 41.6666%;
    }
}
@media (min-width: 20rem) {
    .cell.small-6 {
        width: 50%;
    }
}
@media (min-width: 20rem) {
    .cell.small-7 {
        width: 58.3333%;
    }
}
@media (min-width: 20rem) {
    .cell.small-8 {
        width: 66.6666%;
    }
}
@media (min-width: 20rem) {
    .cell.small-9 {
        width: 75%;
    }
}
@media (min-width: 20rem) {
    .cell.small-10 {
        width: 83.3333%;
    }
}
@media (min-width: 20rem) {
    .cell.small-11 {
        width: 91.666612%;
    }
}
@media (min-width: 48rem) {
    .cell.medium-1 {
        width: 8.3333%;
    }
}
@media (min-width: 48rem) {
    .cell.medium-2 {
        width: 16.6666%;
    }
}
@media (min-width: 48rem) {
    .cell.medium-3 {
        width: 25%;
    }
}
@media (min-width: 48rem) {
    .cell.medium-4 {
        width: 33.3333%;
    }
}
@media (min-width: 48rem) {
    .cell.medium-5 {
        width: 41.6666%;
    }
}
@media (min-width: 48rem) {
    .cell.medium-6 {
        width: 50%;
    }
}
@media (min-width: 48rem) {
    .cell.medium-7 {
        width: 58.3333%;
    }
}
@media (min-width: 48rem) {
    .cell.medium-8 {
        width: 66.6666%;
    }
}
@media (min-width: 48rem) {
    .cell.medium-9 {
        width: 75%;
    }
}
@media (min-width: 48rem) {
    .cell.medium-10 {
        width: 83.3333%;
    }
}
@media (min-width: 48rem) {
    .cell.medium-11 {
        width: 91.666612%;
    }
}
@media (min-width: 64rem) {
    .cell.large-1 {
        width: 8.3333%;
    }
}
@media (min-width: 64rem) {
    .cell.large-2 {
        width: 16.6666%;
    }
}
@media (min-width: 64rem) {
    .cell.large-3 {
        width: 25%;
    }
}
@media (min-width: 64rem) {
    .cell.large-4 {
        width: 33.3333%;
    }
}
@media (min-width: 64rem) {
    .cell.large-5 {
        width: 41.6666%;
    }
}
@media (min-width: 64rem) {
    .cell.large-6 {
        width: 50%;
    }
}
@media (min-width: 64rem) {
    .cell.large-7 {
        width: 58.3333%;
    }
}
@media (min-width: 64rem) {
    .cell.large-8 {
        width: 66.6666%;
    }
}
@media (min-width: 64rem) {
    .cell.large-9 {
        width: 75%;
    }
}
@media (min-width: 64rem) {
    .cell.large-10 {
        width: 83.3333%;
    }
}
@media (min-width: 64rem) {
    .cell.large-11 {
        width: 91.666612%;
    }
}
.cell.align-self-right {
    display: flex;
    justify-content: flex-end;
}
.cell.align-self-left {
    display: flex;
    justify-content: flex-start;
}
.top-bar .grid-x {
    flex-wrap: nowrap;
}
/**********************ajolote*********************/
/*body{
    -webkit-perspective-origin:50% 50%;
    perspective-origin: 50% 50%;
    -webkit-perspective: 1200px;
    perspective: 1200px;
    width:750px;
    max-height:800px;
    text-align:center;
}*/

h1{
    color:#2980b9;
    font: normal normal normal 28px/1.4 "Aldrich", Helvetica, sans-serif;
    margin-top:40px;
}

.mobile-ui-preview {
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 180px;
    height: 380px;
    padding: 219px 20px 20px;
    overflow: hidden;
    border-top: 50px solid rgba(56,56,56,1);
    border-bottom: 50px solid rgba(40,40,40,1);
    border-left: 0 solid rgba(90,90,90,1);
    -webkit-border-radius: 18px;
    border-radius: 18px;
    font: normal normal normal 15px/1.4 "Aldrich", Helvetica, sans-serif;
    color: rgba(255,255,255,1);
    text-align: center;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    background: -webkit-linear-gradient( 37deg, rgba(255,255,255,0.2) 0, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0.38) 51%, rgba(255,255,255,0.2) 100%), url("http://enjoycss.com/bg-img/custom/32322-pgj7l8.png");
    background: -moz-linear-gradient( 53deg, rgba(255,255,255,0.2) 0, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0.38) 51%, rgba(255,255,255,0.2) 100%), url("http://enjoycss.com/bg-img/custom/32322-pgj7l8.png");
    background: linear-gradient( 53deg, rgba(255,255,255,0.2) 0, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0.38) 51%, rgba(255,255,255,0.2) 100%), url("http://enjoycss.com/bg-img/custom/32322-pgj7l8.png");
    background-position: 50% 50%, 50% 50%;
    -webkit-box-shadow: -1px 1px 0 0 rgba(90,90,90,0.8) , -5px 7px 0 0 rgba(66,66,66,1) , -1px -1px 1px 0 rgba(0,0,0,0.4) inset, -31px 29px 15px 0 rgba(0,0,0,0.56) ;
    box-shadow: -1px 1px 0 0 rgba(90,90,90,0.8) , -5px 7px 0 0 rgba(66,66,66,1) , -1px -1px 1px 0 rgba(0,0,0,0.4) inset, -31px 29px 15px 0 rgba(0,0,0,0.56) ;
    text-shadow: -1px 1px 1px rgba(0,0,0,0.2) ;
    -webkit-transform: rotateX(40deg) rotateY(5deg) rotateZ(-24deg) scaleX(1) scaleY(1) scaleZ(1)  ;
    transform: rotateX(40deg) rotateY(5deg) rotateZ(-24deg) scaleX(1) scaleY(1) scaleZ(1)  ;
}

.mobile-ui-preview {
    position: relative;
    width: 180px;
    height: 380px;
    padding: 219px 20px 20px;
}

.mobile-ui-preview .image-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}

.mobile-ui-preview img {
    display: flex;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}
/*************footer***********************/
body {
    grid-template-areas: "main" "." "footer";
    overflow-x: hidden;
}
/*body */.footer {
    z-index: 1;
    --footer-background: black;
    display: grid;
    position: relative;
    grid-area: footer;
    min-height: 12rem;
}
body .footer .bubbles {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1rem;
    background: var(--footer-background);
    filter: url("#blob");
}
body .footer .bubbles .bubble {
    position: absolute;
    left: var(--position, 50%);
    background: var(--footer-background);
    border-radius: 100%;
    animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
    transform: translate(-50%, 100%);
}
body .footer .content {
    z-index: 2;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 4rem;
    padding: 2rem;
    background: var(--footer-background);
}
body .footer .content a, body .footer .content p {
    color: #f5f7fa;
    text-decoration: none;
}
body .footer .content b {
    color: white;
}
body .footer .content p {
    margin: 0;
    font-size: 0.75rem;
}
body .footer .content > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
body .footer .content > div > div {
    margin: 0.25rem 0;
}
body .footer .content > div > div > * {
    margin-right: 0.5rem;
}
body .footer .content > div .image {
    align-self: center;
    width: 4rem;
    height: 4rem;
    margin: 0.25rem 0;
    background-size: cover;
    background-position: center;
}
@keyframes bubble-size {
    0%, 75% {
        width: var(--size, 4rem);
        height: var(--size, 4rem);
    }
    100% {
        width: 0rem;
        height: 0rem;
    }
}
@keyframes bubble-move {
    0% {
        bottom: -4rem;
    }
    100% {
        bottom: var(--distance, 10rem);
    }
}
/*****************modelo simulación*****************/

/*********************Tablas *************************/
table{
    text-align: start;
    position: relative;


}

